# Backup files
*.bak
*.save
*.save.1

# Ignore all unnecessary files created by kicad
/controller-PCB/*
!/controller-PCB/controller.kicad_pcb
!/controller-PCB/controller-handmade.kicad_pcb
!/controller-PCB/controller.sch
!/controller-PCB/no-box.kicad_wks
